body{
    background:#171a21;
    margin: 0;
    font-family: "Motiva Sans",Arial, Helvetica, sans-serif;
}
#main{
    background:  	#111923;    
    margin-left: 18%;
    margin-right: 18%;
}
#gameIMG{
    position: absolute;
    max-width: 7%;
    border: solid 2px gray;
    margin-left: 1%;
    margin-top: 1%;
}
#gamebgrd{
    width: 100%;
    max-height: 20vw;
    display: inline-block;
}
#gameName{
    font-size: large;
    color: #adadad;
    text-align: center;
    margin-left: 5%;
}
#progressBar{
    font-size: large;
    color: #adadad;
    text-align: center;
    margin-left: 5%;
}
#achiev{
    background: #111923;
    margin-left: 2%;
    margin-right: 2%;
}
#achievWhole{
    background: #292e37;
    margin-top: 1%;
    display: flex;
    border: solid 2px #171a21 ;
}
#achieva{
    background: #23262E;
    max-height: 80px;
    position: relative;
}
#achievName{
    color: white;
}
#achievDesc{
    color: #AAADB1;
}
footer{
    text-align: center;
    background: #292e37;
    width: 100vw;
    height: 3vw;
}