html, body {
    height: 100%;
}
body{
    /* background:#171a21; */
    background-image: radial-gradient(#2b3135,#0F1214);
    margin: 0;
    font-family: "Motiva Sans",Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
#main {
    background: #111923;
    width: min(100%, 900px);
    margin: 0 auto;
    padding: 10px;
    flex: 1;
}
#header {
    display: flex;
    align-items: center;
    gap: 10px;
}
#gameIMG{
    max-width: 80px;
    width: 20%;
    position: absolute;
    border: solid 2px gray;
    margin-left: 1%;
    margin-top: 1%;
}
#gamebgrd{
    width: 100%;
    height: auto;
    display: inline-block;
}
#gameName{
    font-size: large;
    color: #adadad;
    text-align: center;
    margin-left: 5%;
}
#progressBar{
    font-size: large;
    color: #adadad;
    text-align: center;
    margin-left: 5%;
}
#achiev{
    background: #111923;
    margin-left: 2%;
    margin-right: 2%;
}
#achievWhole{
    background: #292e37;
    margin-top: 1%;
    display: flex;
    border: solid 2px #171a21 ;
}
#achieva{
    background: #23262E;
    max-height: 80px;
    position: relative;
}
#achievName{
    color: white;
}
#achievDesc{
    color: #AAADB1;
}
footer{
    text-align: center;
    background: #000000;
    width: 100%;
    padding: 10px;
    height: auto;
}